﻿body {
	background: silver;
	font: 14px 'trebuchet ms', arial, sans-serif;
	margin-left: 60px;
	margin-right: 60px;
}

/** Structure */
#header {
	padding: 20px;
	background: #12407f;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid #436fac;
	margin-top: 15px;
}

#content {
	background: #fff;
	padding: 20px;
}

#footer {
	background: #12407f;
	color: #fff;
	padding: 20px;
	border-top: 4px solid #436fac;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: 15px;
}

/* Links */
#header a {
	color: #fff;
	background: #436fac;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}

#footer a {
	color: #fff;
	background: #436fac;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}

#header a:hover {
	background: #4d8add
}

a:hover {
	text-decoration: none; 
}

subscript {
	font-size: .8em;
	text-decoration: none;
}

#prepage {
	font-family:arial;
	font-size:16px;
	height:150px;
	width:300px;
	margin-left: -150px;
	position:absolute;
	top:100px;
	left:50%;
	z-index:1;
	background-color:#eceff6;
}

.prepage img {
	margin:0px auto;
}

.popup_block{
	display: none;
	background-color: #E6E6F6;
	padding: 0px;
	border: 15px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: absolute;
	top: 50%; 
	left: 50%;
	z-index: 10;
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.poplight {
	text-decoration:none;
}

#formAlert {
	text-align:left;
	padding-left:15px;
	color:#3b5998;
}

img.btn_close {
	float: right;
	margin: -15px -15px 0 0;
	border: 0px;
}

#divnotice {
	display: none;
}

#divalert {
	display: none;
}

.errorbox {  
	background-color: #ffebe8;  
	border: 1px solid #dd3c10;  
	color: #333333;  
	padding: 10px 10px 10px 40px;  
	font-size: 13px;  
	font-weight: bold;
	text-align:center;
	font-size: 13px; 
	background-image: url(/SSoD-IM0004); 
	background-position: 3px 1px; 
	background-repeat: no-repeat; 
}  

.noticebox {  
	background-color: #C2F0C2;  
	border: 1px solid #003300;  
	color: #333333;  
	padding: 10px 10px 10px 40px;  
	font-size: 13px;  
	font-weight: bold;
	text-align:center;
	font-size: 13px; 
	background-image: url(/SSoD-IM0003); 
	background-position: 3px 1px; 
	background-repeat: no-repeat; 
}  

#header h2 {
	float:right;
	position:relative;
	top:-28px;
	padding-right:6px;
}

#header a {
	float:left;
	position:relative;
	top:-16px;
	display:block-inline;
	margin:4px;
}

#footer span {
	float:right;
}

#page {
 	display:none;
 	max-width:1060px;
 	height:100%;
 	border:0px;
 	padding:0px;
 	margin:0 auto;
 	position:relative;
}

#topdiv {
	font-size: 12px; 
	background-image: url(/SSoD-IM0009); 
	background-position: 90px 5px; 
	background-repeat: no-repeat;
	z-index:3;
	position:fixed;
	top:-0px;
	left:70%;
	width:100px;
	color:white;
	background-color:#12407f;
	padding:4px;
	text-align:center;
	border-left: 4px solid #436fac;
	border-right: 4px solid #436fac;
	border-bottom: 4px solid #436fac;
}

#topmenu {
	font-size: 12px; 
	z-index:2;
	position:fixed;
	top:22px;
	left:70%;
	width:200px;
	color:white;
	background-color:#12407f;
	padding:4px;
	text-align:left;
	display:none;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
	border: 4px solid #436fac;
}

#closemenu {
	float:right;
	padding-right:10px;
	font-size: 9px;
}

#envset, #acctinfo, #thrdprty, #closemenu {
	text-decoration:none;
	color:white;
}