﻿<ul>
	<li><a href="javascript:void(0);" id="envset" name="envset">SAS Environment Settings</a></li>
	<li><a href="javascript:void(0);" id="thrdprty" name="thrdprty">3rd Party Settings</a></li>
	<li><a href="javascript:void(0);" id="acctinfo" name="acctinfo">Account Information</a></li>
</ul>
<script type="text/javascript" language="javascript">
	$('a#envset').bind('click', function(e){
		$.get("/SSoD-GLBL0004", function(data){
			$("div#topmenu").html(data);
		});
	});
	$('a#acctinfo').bind('click', function(e){
		$.get("/SSoD-GLBL0005", function(data){
			$("div#topmenu").html(data);
		});
	});
	$('a#thrdprty').bind('click', function(e){
		$.get("/SSoD-GLBL0002", function(data){
			$("div#topmenu").html(data);
		});
	});
</script>