﻿.pstconfig {
	width:200px;
	display:inline-block;
	vertical-align:text-top;
}

.password {
	font-size: 13px; 
	background-image: url(/SSoD-IM0001); 
	background-position: 6px 9px; 
	background-repeat: no-repeat; 
}

.name {
	font-size: 13px; 
	background-image: url(/SSoD-IM0002); 
	background-position: 6px 9px; 
	background-repeat: no-repeat;
}

.config {
	display:block;
	margin-top:2px;
	margin-bottom:2px;
}

.hostid {
	font-size: 13px; 
	background-image: url(/SSoD-IM0005); 
	background-position: 6px 9px; 
	background-repeat: no-repeat;
}

.project {
	font-size: 13px; 
	background-image: url(/SSoD-IM0006); 
	background-position: 6px 9px; 
	background-repeat: no-repeat;
}

#contentbox {
	width:475px;
	border-style:solid;
	padding:4px;
	border-width:1px;
	border-color:blue;
	margin:0px auto;
}

#contentbox form {
	width:410px;
	margin: 0px auto;
}

.empty {
	color: gray;
}

select option {
	color: #000;
}

#start, #databases, #reset {
	display:none;
}