﻿.password {
	font-size: 13px; 
	background-image: url(/SSoD-IM0001); 
	background-position: 6px 9px; 
	background-repeat: no-repeat; 
}

.name {
	font-size: 13px; 
	background-image: url(/SSoD-IM0002); 
	background-position: 6px 9px; 
	background-repeat: no-repeat;
}
